/* tilda's (sorta) custom discord css
 * best used with client mods

 * q & a:

 * q: why?
 * a: aesthetics.

 * q: will this support betterdiscord?
 * a: fuck off (but maybe)

 * q: how do I use this?
 * a: set your client mod (or other css patcher) to use this css file

 * any other questions? ask me on discord
 */
@import url("https://rawgit.com/AlexFlipnote/Discord_Theme/master/autotheme.css");
@import url("https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/wideGuilds.css");
@import url("https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/minimalStatusPicker.css");
@import url("https://rawgit.com/AlexFlipnote/Discord_Theme/master/plugins/transparent.css");
@import url("https://rawgit.com/TripingPC/discord-CSSes/master/account-circles.css");
@import url("https://rawgit.com/tilda/dots/master/discordinjections/config.addons.css");

.guild-seperator { color: #ddd;background-color: #ddd; }

.app:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,.5)), url("https://picsum.photos/1360/768?random&blur");
    height: 100%;
    width: 100%;
    filter: blur(5px) grayscale(20%);
    background-size: 100%;
}

/* Channel transparency stuffs */
.chat {
    background-color: rgba(44, 47, 51, 0.4) !important;
}

/* Games section theming */
.feed-lo0xmF {
    background-color: transparent !important;
}

/* Cozy mode. Displays avatars smaller, while giving the same small thing of compact mode */

.message-group {
    border: 0 solid transparent;
    margin-left: 1.3em;
}

.message-group .avatar-large {
    width: 1.25em;
    height: 1.25em;
    background-size: 100% auto;
    border-radius: 20%;
}

.messages-popout .avatar-large {
    margin-top: -0.1em !important
}

.edit-container-outer .avatar-large {
    visibility: hidden !important
}

.message-group .old-h2 {
    margin-top: -1em !important;
    margin-bottom: 0.5em;
    margin-left: 0.125em !important
}

.edit-container-inner .old-h2 {
    margin-left: 1.375em !important
}

.comment:not(:first-child) .edit-container-inner .old-h2 {
    display: none !important
}

.chat .comment,
.messages-popout .comment {
    margin-top: 1em !important;
    margin-left: -1em !important
}

.accessory,
.message-text {
    margin-left: -1.4em !important
}

/* Fix roles */

.roleCircle-3-vPZq {
    position: absolute;
    height: 22px;
    width: 100%;
    border-radius: 2px;
    margin-left: -4px;
    margin-right: 0;
    z-index: 1;
}

.role-3rahR_ {
    position: relative;
    border-radius: 2px;
    padding-right: 10px;
    /* Uncomment when :has() is a thing...*/
    /* padding-right: 0; */
}

.roleName-DUQZ9m {
    z-index: 2;
}

.roleRemoveIcon-2iu0iE .fill {
    fill: #fff;
}

.addButton-3RuTE0 {
    padding-right: 4px;
}

/*
This doesn't even work yet but it will when we have :has selectors!!!!!111!!!11!
*/
.role-3rahR_:has(button) {
    padding-right: 10px;
}

.roleRemoveIcon-2iu0iE {
    display: block;
    margin: 6px 2px 6px 0;
    right: 0;
    top: 0;
    position: absolute;
}

/* Guild hiding */

.guilds-wrapper:hover {
    animation: member 300ms ease!important;
    width: 128px !important; /* 128px if double width, else adjust acordingly */
}

.guilds-wrapper {
    transition: all 300ms ease!important;
    width: 24px !important;
}

/* optional transparency */
.guilds-wrapper .scroller-wrap {
    transition: all 300ms ease!important;
    opacity:0.25;
}

.guilds-wrapper:hover .scroller-wrap {
    opacity:1;
}

div[class*="unreadBar-"],
.unread-mentions-indicator-bottom,
.unread-mentions-indicator-top {
    display: none;
}

/* backdrop blur */
.backdrop-2ohBEd { filter: blur(10px); }

/* Make a little blurple circle thing around the selected guild */
.guild .selected {
    border: 2.5px solid #7298da;
}

/* Ugly unread color be gone */
.wrapperUnreadText-2zuiuD {
	color: #fcfcfc !important
}

.imageError-2OefUi {
    background-image: url("https://material.io/tools/icons/static/icons/outline-error_outline-24px.svg") !important;
    filter: invert(100);
}

/* Codeblocks have a better font */

code, code.inline {
    /* thanks slice */
    font-family: PragmataPro, Menlo, Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
/* A bunch of fucking themed classes because of the fucking theme and the background stuff aaaaaaaa */

#guild-name { color: white; }
.member-activity-text { color: #aaa;opacity: 0.45; }
.member-activity-text:hover { opacity: 1; }
.nameDefaultText-QoumjC { color: #ddd; }
.nameDefault-Lnjrwm { color: #ccc; }
.name-2SL4ev { color: #aaa; }
.contentUnreadText-3oxASB { color: #eee !important; }
.nameUnreadText-1pxldj { color: #eee !important; }
.note-UEZmbY { color: #aaa; }
.description-3MVziF { color: #eee !important; }
.header-1-f9X5, .subtitle-1diHGV { color: #ccc !important; }
.item-3879bf, { color: #eee !important; }
a:link { color: #ddd !important; link-decoration: underline; }
a:visited { color: #ddd !important; link-decoration: underline; }
.nameSelectedText-32NDX5 { color: #eee !important; }
.unreadBar-3lDSDn { visibility: hidden !important; }
textarea { background-color: transparent; } 
